.previewCard {
  width: 75%;
  height: 85%;
  border-radius: 30px;
  border: 15px solid #000000;
  font-family: "Poppins";
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.banner {
  width: 100%;
  height: 35%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 25px;
  z-index: 1;
}
.sharingBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  border: 0.2px solid #B0B0B0;
  width: 40px;
  height: 40px;
}
.sharingBtn > img {
  width: 100%;
  height: 100%;
}
.profileImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  position: absolute;
}
.userName {
  margin-top: 120px;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
}
.tabButtons {
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: #C9C9C9; 
  border: 1px solid #BFBFBF;
  border-radius: 24px;
  margin-bottom: 25px;
}
.tabButton {
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
}
.active {
  background-color: #28A263;
  color: #FFFFFF;
}
.inactive {
  background-color: transparent;
  color: #595959;
}
/*        stack layout       */
.linkListContainer {
  width: 90%;
  height: 45%;
  overflow-y: auto;
  margin-bottom: 100px;
}
.linkContainer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #C9C9C9;
  padding: 10px;
  border-radius: 100px;
  gap: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.iconContainer {
  border-radius: 100px;
  background-color: #FFFFFF;
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*        grid layout        */
.gridListContainer {
  width: 90% !important;
  height: 45% !important;
  overflow-y: auto !important;
  margin-bottom: 100px !important;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 10px !important;
}
.gridContainer {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C9C9C9;
  padding: 10px;
  border-radius: 24px;
  gap: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.gridIconContainer {
  border-radius: 100px;
  background-color: #FFFFFF;
  height: 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*      carousel layout      */
.carouselListContainer {
  height: 220px;
  display: flex !important;
  width: -webkit-fill-available;
  overflow-x: scroll;
}
.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  margin-right: 10px;
  min-width: 150px;
}
.carouselIconContainer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

/*        for all three layout          */
.icon {
  width: 25px;
  height: 25px;
}
.linkText {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
  color: #1E1E20;
  line-height: 24px;
}
.getConnected {
  width: 178px;
  height: 34px;
  border-radius: 30px;
  color: #FFFFFF;
  background-color: #35CA7D;
  box-shadow: 0px 4.65px 14.89px 0px #00000026;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
}
.brandingContainer {
  position: absolute;
  bottom: 10px;
}
.brandingContainer > img {
  width: 90px;
  height: 25px;
}

/*        appearance buttons css         */
.f1 {
  border-radius: 0px;
}
.f2 {
  border-radius: 8px;
}
.f3 {
  border-radius: 24px;
}
.o1 {
  border: 1px solid #000000;
  border-radius: 0px;
}
.o2 {
  border: 1px solid #000000;
  border-radius: 8px;
}
.o3 {
  border: 1px solid #000000;
  border-radius: 24px;
}
.h1 {
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
  border-radius: 0px;
}
.h2 {
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
  border-radius: 8px;
}
.h3 {
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
  border-radius: 24px;
}
.s1 {
  box-shadow: 0px 4px 4px 0px #00000029;
  border: none;
  border-radius: 0px;
}
.s2 {
  box-shadow: 0px 4px 4px 0px #00000029;
  border: none;
  border-radius: 8px;
}
.s3 {
  box-shadow: 0px 4px 4px 0px #00000029;
  border: none;
  border-radius: 24px;
}

/*          responsiveness         */
@media screen and (max-width: 426px) {
  .previewCard {
    width: 90%;
  }
  .previewCrossBtn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 768px) {
  .previewCrossBtn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 60px;
    height: 60px;
  }
}