.container {
    margin: 50px 84px 0px 84px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}
.left {
    position: relative;
    background: #FFFFFF;
    height: 493px;
    width: 760px;
    border-radius: 2rem;
}
.image {
    position: absolute;
    top: 87.91px;
    left: 105.88px;
}
.leftContent {
    position: absolute;
    bottom: 3rem;
    left: 40px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 26px;
    line-height: 36.4px;
    letter-spacing: -0.28px;
    color: #1E2330;
}
.right {
    width: 480px;
}
.heading {
    margin-bottom: 1.5rem;
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 58.8px;
    letter-spacing: -1.12px;
    color: #1E2330;
}
.rightContent {
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: -0.4px;
    color: #1E2330;
}
@media screen and (max-width:320px) {
    .image {
        width: 200px !important;
    }
}
@media screen and (max-width:500px) {
    .container {
        margin: 2rem 1rem 0rem 1rem;
        flex-direction: column;
    }
    .left {
        width: 100%;
        height: 231px;
    }
    .image {
        width: 256px;
        top: 41px;
        left: 50px;
    }
    .leftContent {
        font-family: Poppins;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.13px;
        bottom: 14px;
        left: 1.25rem;
        width: 236px;
    }
    .right {
        width: 100%;
    }
    .heading {
        font-family: Poppins;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0px;
        margin-bottom: 1.5rem;
    }
    .rightContent {
        font-family: Poppins;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0px;
    }
}
